{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome, {{user}}! 👋 </h5>
    <a class="btn btn-primary" type="button" href="{% url 'import-excel' %}"> IMPORT EXCEL MESSAGES &nbsp; <i class="fa fa-send-o" aria-hidden="true"></i> </a>
    <hr>

    <form method="post" class="form-vertical">
        {% csrf_token %}
        <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="datetime-local" class="form-control" name="start_date" id="start_date">
        </div>
    
        <div class="form-group">
            <label for="end_date">End Date:</label>
            <input type="datetime-local" class="form-control" name="end_date" id="end_date">
        </div>
    
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
    

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> MESSAGE ID </th>
                <th scope="col"> USER CONVERSATIONS </th>
                <th scope="col"> MESSAGE BODY </th>
                <th scope="col"> STATUS </th>
                <th scope="col"> PRIORITY </th>
                <th scope="col"> CREATED AT </th>

                <th scope="col"> REPLY </th>

            </tr>

        </thead>

        <tbody>

        {% if client_messages %}

            {% for client_message in client_messages %}

            <tr>

                <td> {{client_message.id}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'singular-user' client_message.client_user_id %}"> VIEW <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

                <td> {{client_message.message_body}}</td>


                <td> {{client_message.status}} </td>
                <td> {{client_message.priority}} </td>

                <td> {{client_message.created_at}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'agent-response' client_message.id %}"> <i class="fa fa-send-o" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}
        
        {% endif %}


        </tbody>


    </table>


{% endblock %}